html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.navbar {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
}

.navbar-title {
    font-size: 50px;
    position: absolute;
    left: 10px;
    font-family: 'Dancing Script', cursive;
}

.navbar-items {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: space-around;
}

.navbar-item{
    color: seashell;
    padding: 0px 15px;
    text-decoration: underline;
}


.navbar-item a{
    color: seashell;
}