html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.main-header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0px;
}

.site-title {
    font-size: 50px;
    position: absolute;
    left: 10px;
    font-family: 'Dancing Script', cursive;
}

.primary-navigation {
    position: absolute;
    right: 0px;
}

.navigation-item a{
    color: seashell;
}


